.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.box_section {
  width: 140px;
  height: 140px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  background: white;
  border-radius: 20px;
  animation: 2s ease-in-out alternate infinite shadows;
  overflow: hidden;
}
.image_box {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

  img {
    width: 80%;
  }
}

@-moz-keyframes shadows {
  0% {
    box-shadow: -16px 9px 8px rgb(227, 227, 227);
  }

  40% {
    box-shadow: 16px 9px 8px rgb(227, 227, 227);
  }

  75% {
    box-shadow: -9px -16px 8px rgb(227, 227, 227);
  }

  100% {
    box-shadow: 9px 16px 8px rgb(227, 227, 227);
  }
}

@-webkit-keyframes shadows {
  0% {
    box-shadow: -16px 9px 8px rgb(227, 227, 227);
  }

  40% {
    box-shadow: 16px 9px 8px rgb(227, 227, 227);
  }

  75% {
    box-shadow: -9px -16px 8px rgb(227, 227, 227);
  }

  100% {
    box-shadow: 9px 16px 8px rgb(227, 227, 227);
  }
}

@-o-keyframes shadows {
  0% {
    box-shadow: -16px 9px 8px rgb(227, 227, 227);
  }

  40% {
    box-shadow: 16px 9px 8px rgb(227, 227, 227);
  }

  75% {
    box-shadow: -9px -16px 8px rgb(227, 227, 227);
  }

  100% {
    box-shadow: 9px 16px 8px rgb(227, 227, 227);
  }
}
@keyframes shadows {
  0% {
    box-shadow: -16px 9px 8px rgb(227, 227, 227);
  }
  40% {
    box-shadow: 16px 9px 8px rgb(227, 227, 227);
  }
  75% {
    box-shadow: -9px -16px 8px rgb(227, 227, 227);
  }
  100% {
    box-shadow: 9px 16px 8px rgb(227, 227, 227);
  }
}

@-moz-keyframes dash {
  62.5% {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash {
  62.5% {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-o-keyframes dash {
  62.5% {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  62.5% {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}
