@media only screen and (max-width: $bp-between-large-medium) {
    .about--wrapper--item {
        flex-direction: column;
        &.reverse {
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: $bp-between-medium-small) {
    .section--about--main--title {
        max-width: 90%;
        margin: 26px auto;
    }
    .section--about .about--wrapper {
        -webkit-clip-path: polygon(0 0, 100% 0, 95% 80%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
}