@media only screen and (max-width: $bp-between-large-medium) {
  .about--wrapper--content {
    text-align: center;
  }
  .about--small--title {
    text-align: center;
  }
  .about--main--title {
    text-align: center;
  }

  .about--list {
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: $bp-between-medium-small) {
  .about--list--item {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: $bp-small) {
  .about--list--item {
    font-size: 1.2rem;
  }
}
